*~
.cache/
.calva/output-window/
checkouts
*.class
classes
.classpath
.clerk/
.clj-kondo/
.clj-kondo/.cache
.cpcache
.cpcache/
.DS_Store
.eastwood
.factorypath
.hg/
.hgignore
.idea
*.iml
*.jar
.java-version
.lein-*
.lsp/
.lsp/.cache
.lsp/sqlite.db
node_modules
.nrepl-history
.nrepl-port
.project
public
.rebel_readline_history
.settings
.shadow-cljs
.socket-repl-port
.sw*
*.swp
target
.vscode
